<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="navbar">
  <a class="logo">
      <img src="/logo1.png" alt="Logo">
      <h1>SmartWallet</h1>
  </a>

  <div class="user-info">
    <span class="textoBienvenida">Bienvenid@, {{ nombrePersona }}!</span>
    <button class="btn-logout" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i><span>Cerrar Sesión</span></button>
  </div>
</nav>

<div class="main-container">
  <aside class="sidebar">
    <form class="formulario-gastos" (ngSubmit)="guardar()">
      <h2 id="miFormulario">{{nuevoGasto.id ? 'Editar Movimiento' : 'Registrar Movimiento'}}</h2>

      <label>Descripción:</label>
      <input type="text" [(ngModel)]="nuevoGasto.descripcion" name="descripcion" placeholder="">

      <label>Importe (€):</label>
      <input type="number" [(ngModel)]="nuevoGasto.importe" name="importe">

      <label>Fecha Movimiento:</label>
      <input type="date" [(ngModel)]="nuevoGasto.fecha" name="fecha">

      <label>ID Categoría:</label>
      <select [(ngModel)]="nuevoGasto.categoria_id" name="categoria_id">
        <option [ngValue]="null" disabled>-- Selecciona una Categoría --</option>
        <option *ngFor="let cat of listaCategorias" [value]="cat.id">
          {{ cat.tipo_de_movimiento }}
        </option>
      </select>

     

      <button type="submit" class="botonform">{{nuevoGasto.id ? 'Actualizar Gasto' : 'Guardar Gasto'}}</button>
      <button type="button" class="botonform"  *ngIf="nuevoGasto.id" (click)="resetForm()" >Cancelar y volver a Registrar Movimiento</button>
    </form>
     <div *ngIf="Exitoso" class="custom-alerte" [class.saliendo]="cerrandoAlerta">
        {{mensajeAlerta}}
        <button class="botonAlertaExito" (click)="Exitoso = false">Cerrar</button>
      </div>
      <div *ngIf="Fallido" class="custom-alertf" [class.saliendo]="cerrandoAlerta">
        {{mensajeAlerta}}
        <button class="botonAlertaFallo" (click)="Fallido = false">Cerrar</button>
      </div>
  </aside>
 
  

  <main class="content">

    <div class="cards-container">
      <div class="card ingresos">
        <h3>Total Ingresos</h3>
        <p class ="cuentas">{{totalIngresos}} €</p>
      </div>
      <div class="card gastos">
        <h3>Total Gastos</h3>
        <p class ="cuentas">{{totalGastos}} €</p>
      </div>
      <div class="card balance">
        <h3>Balance Actual</h3>
        <p class ="cuentas">{{totalBalance}} €</p>
      </div>
    </div>

    <!-- SECCIÓN DEL GRÁFICO (El "Donut") -->
     @if (misGastos.length > 0) {
      <h1>Gráficos</h1>
      <div class="charts-container">
      
        <div class="graficos">
          <h2 class="tituloGrafico">Gastos / Ingresos</h2>
          <canvas baseChart
            [data]="datosGrafico"
            [options]="opcionesGrafico"
            [type]="'doughnut'"> <!-- doughnut es el término inglés para la típica gráfica de anillo/donut -->
          </canvas>
        </div>

        <!-- SECCIÓN DEL GRÁFICO 2 (Desglose de Gastos) -->
        
        <div class="graficos">
          <h2 class="tituloGrafico">Desglose de Gastos</h2>
          <canvas baseChart
            [data]="datosGraficoGastos" 
            [options]="opcionesGraficoGastos"
            [type]="'pie'"> <!-- Puedes probar a cambiar 'doughnut' por 'pie' para que este sea un gráfico de "Tarta" normal-->
          </canvas>
          
        </div>

        <!-- SECCIÓN DEL GRÁFICO 3 (Desglose de ingresos) -->
        
        <div class="graficos">
          <h2 class="tituloGrafico">Desglose de Ingresos</h2>
          <canvas baseChart
            [data]="datosGraficoIngresos" 
            [options]="opcionesGraficoIngresos"
            [type]="'pie'"> <!-- Puedes probar a cambiar 'doughnut' por 'pie' para que este sea un gráfico de "Tarta" normal-->
          </canvas>
          
        </div>


      </div>
    
    } @else {
      <div class="estado-vacio">
        <i class="bi bi-bar-chart-fill icono-vacio"></i>
        <h3>Aún no hay datos para mostrar</h3>
        <p>Registra tu primer movimiento a la izquierda para ver tus estadísticas y gráficas cobrar vida.</p>
      </div>
    }

    
  <div class="headerTransacciones">
    <div class="tituloSeccion">
       <h1>Transacciones</h1>
    </div>

    <div class="accionesTabla">
      <div class="grupoFiltro">
        <input class ="buscador" type="text" [(ngModel)]="nombreFiltrado" name="nombreFiltrado" placeholder="🔍 Buscar por descripción o fecha"> 
        <!--solo lo muestra si se busca algo gracias al  ngif-->
        <button [disabled]="!nombreFiltrado || nombreFiltrado.trim().length === 0"  (click)="borrarResultadosFiltrados()" class="botonBorrar">
          🗑️ borar resultado busqueda 
        </button>
      </div>
    
      <button class="botonPdf" (click)="descargarPDF()">
      📄 Descargar en PDF
      </button>
    </div> 
  </div>

    <div class="table-section">
      <table class="modern-table">
        <thead>
          <tr>
            <th class="cabeceraTabla" (click)="ordenarPor('descripcion')">Descripción <span>⇅</span></th>
            <th class="cabeceraTabla" (click)="ordenarPor('importe')">Importe <span>⇅</span></th>
            <th class="cabeceraTabla" (click)="ordenarPor('tipo_de_movimiento')">Categoría <span>⇅</span></th>
            <th class="cabeceraTabla" (click)="ordenarPor('fecha')">Fecha <span>⇅</span></th>
            <th>Acciones</th>
          </tr>
        </thead>
      <tbody>
          @for (gasto of obtenerMovimientosFiltrados(); track gasto.id) { <!--trackBy para evitar que se mueva la tabla al escribir se fija en el id  -->        
          <tr>
            <td> {{ gasto.descripcion }} </td>
            <td [class.texto-ingreso]="gasto.tipo_de_movimiento === 'ingreso'" 
                [class.texto-gasto]="gasto.tipo_de_movimiento === 'gasto'">
              {{ gasto.importe | number:'1.2-2' }} €
            </td>
            <td> 
              <span class="badge" [ngClass]="gasto.tipo_de_movimiento === 'ingreso' ? 'bg-ingreso' : 'bg-gasto'">
                {{ gasto.tipo_de_movimiento }}
              </span>
            </td>
            <td> {{ gasto.fecha }} </td>
            <td>
              <div class="acciones-flex">
                <button (click)="prepararEdicion(gasto)" class="btn-editar" title="Editar">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                
                <button (click)="borrarGasto(gasto.id)" class="btn-borrar" title="Eliminar">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </main>

</div>


    <footer class="footer">
        <p>&copy;{{ currentYear }} José Doménech Alemany. Todos los derechos reservados.</p>
       

    </footer>   


